/*
Name: Soh Hong Yu
Class: DAAA/FT/1B/01
Admin No.: P2100775
*/

.payWith {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.payWith li:before {
  content: "✓";
  margin-left: -40px;
}

.input-number {
  width: 80px;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}

.input-number,
.input-number-decrement,
.input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number-decrement,
.input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}
.input-number-decrement:active,
.input-number-increment:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.productPrice {
  color: #ee4d2d;
}

.group {
  position: relative;
  width: 100%;
}

.group input:not(input[type="checkbox"]) {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
}

.group input:not(input[type="checkbox"]):focus {
  outline: none;
}

/* LABEL ======================================= */
.group label:not(label[class="checkbox-container"]) {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
.group input:not(input[type="checkbox"]):focus ~ label,
.group input:not(input[type="checkbox"]):valid ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264ae;
}

/* BOTTOM BARS ================================= */
.group .bar {
  position: relative;
  display: block;
  width: 100%;
}
.group .bar:before,
.group .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264ae;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.group .bar:before {
  left: 50%;
}
.group .bar:after {
  right: 50%;
}

/* active state */
.group input:not(input[type="checkbox"]):focus ~ .bar:before,
.group input:not(input[type="checkbox"]):focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.group .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.group input:not(input[type="checkbox"]):focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.sales {
  background-color: rgba(255, 212, 36, 0.9);
  aspect-ratio: 1;
  width: 42px;
  top: 0;
  right: 0;
}

.sales::after {
  content: "";
  width: 0;
  height: 0;
  left: 0;
  bottom: -4px;
  position: absolute;
  border-color: transparent rgba(255, 212, 36, 0.9);
  border-style: solid;
  border-width: 0 21px 4px;
}
.percent {
  color: #ee4d2d;
  font-weight: 500;
}

.productInfo {
  display: block;
}

.categoryButton:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}
